SOAP-WS/Lab0301-SOAP-Binding/Output/doc-lit-wrapped/wsdl.xml

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.dao.playground.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.dao.playground.org/" name="CalculatorOpsImplService">


    <types>
        <xsd:schema>
            <xsd:import namespace="http://interfaces.dao.playground.org/" schemaLocation="http://localhost:9191/SOAP-D301/ws/calc?xsd=1" />
        </xsd:schema>
    </types>
    <message name="add">
        <part name="parameters" element="tns:add" />
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse" />
    </message>
    <message name="mul">
        <part name="parameters" element="tns:mul" />
    </message>
    <message name="mulResponse">
        <part name="parameters" element="tns:mulResponse" />
    </message>
    <message name="sub">
        <part name="parameters" element="tns:sub" />
    </message>
    <message name="subResponse">
        <part name="parameters" element="tns:subResponse" />
    </message>
    <message name="div">
        <part name="parameters" element="tns:div" />
    </message>
    <message name="divResponse">
        <part name="parameters" element="tns:divResponse" />
    </message>
    <portType name="CalculatorOps">
        <operation name="add">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.dao.playground.org/CalculatorOps/addRequest" message="tns:add" />
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.dao.playground.org/CalculatorOps/addResponse" message="tns:addResponse" />
        </operation>
        <operation name="mul">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.dao.playground.org/CalculatorOps/mulRequest" message="tns:mul" />
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.dao.playground.org/CalculatorOps/mulResponse" message="tns:mulResponse" />
        </operation>
        <operation name="sub">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.dao.playground.org/CalculatorOps/subRequest" message="tns:sub" />
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.dao.playground.org/CalculatorOps/subResponse" message="tns:subResponse" />
        </operation>
        <operation name="div">
            <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.dao.playground.org/CalculatorOps/divRequest" message="tns:div" />
            <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.dao.playground.org/CalculatorOps/divResponse" message="tns:divResponse" />
        </operation>
    </portType>


    <binding xmlns:ns1="http://interfaces.dao.playground.org/" name="CalculatorOpsImplPortBinding" type="ns1:CalculatorOps">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="add">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="mul">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="sub">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="div">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="CalculatorOpsImplService">
        <port name="CalculatorOpsImplPort" binding="tns:CalculatorOpsImplPortBinding">
            <soap:address location="http://localhost:9191/SOAP-D301/ws/calc" />
        </port>
    </service>
</definitions>